html { height: 100%; font-size: 100% }
body { min-width: 320px; font-family: sans-serif; padding: 0; margin: 0; height: 100% }
a,
button,
img,
input,
textarea,
li { outline: 0 }
i { pointer-events: none }

.columns { display: flex; user-select: none }
.left { width: 40% }
.right { width: 100% }
.button { outline: 0; border-radius: 0.25rem; border: 2px outset; cursor: pointer; font-size: 0.8rem; line-height: 1.6rem }
.button-down { border-style: inset !important }

/* responsiveness */
@media (orientation: portrait) {
  .columns { flex-direction: column }
 .left { width: 100% !important; max-width: none !important; height: auto !important }
 .right { height: auto !important; flex: 1 }
 .right-container { display: flex; flex-direction: column }
}

@media (orientation: landscape) {
 .left { width: 33% !important }
}

/* board and pieces */
.chessboard-container { position: relative; padding: 0; margin: 0 0 0.5rem 0 }
.chessboard { width: 100%; padding: 0; margin: 0; border: none; border-collapse: collapse }
.chessboard-square { width: 12.5%; padding: 0; margin: 0; position: relative }
.chessboard-square sup { position: absolute; left: 0.25rem; top: 0.25rem; font-size: 0.6rem }
.chessboard-square sub { position: absolute; bottom: 0.25rem; right: 0.25rem; font-size: 0.6rem }
.chessboard-pieces { position: absolute; left: 0; top: 0; z-index: 1 }
.chessboard-piece { position: absolute; width: 12% }
.chessboard-turn-arrows { position: absolute; left: 0; top: 0; z-index: 2 }
.chessboard-arrows { opacity: 0; position: absolute; left: 0; top: 0; z-index: 2 }
.chessboard-arrow { position: absolute; left: 0; top: 0; z-index: 3; width: 100%; height: 100%; stroke-linecap: round; }
.fade-in { opacity: 1; transition: all 1s }
.fade-out { opacity: 0; transition: all 1s }
.move-description { margin: 0; height: 6rem; overflow: scroll; line-height: 1rem; font-size: 0.8rem }
.move-description .annotation { font-weight: bold }

/* header */
.header-container { height: 6rem; margin: 0 }
.header-title { margin: 0; padding: 0; font-size: 1.2rem; font-weight: normal }
.header-subtitle { margin: 0; padding: 0; font-size: 1rem; font-weight: normal }
.header-player-name { font-weight: bold }

/* playback timeline */
.playback-container { padding: 0.5rem }
.timeline-container { margin: 0.5rem 0 0 0; position: relative }
.timeline-bar { position: absolute; border-radius: 0.25rem; display: flex }
.frame { font-weight: bold; font-size: 0.4rem; margin: 0; text-align: center; height: 1rem; line-height: 1rem; overflow: hidden }
.frame:first-of-type { border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem }
.frame:last-of-type { border-top-right-radius: 0.25rem; border-bottom-right-radius: 00.25rem }
.connecting-line { position: absolute; top: 1rem; border-left: solid }
.playback-controls { padding: 0; margin: 0 }
.playback-controls .checkbox { font-size: 0.75rem }
.playback-controls .checkbox input { padding: 0; margin: 0 0.25rem 0 0.5rem }
.playback-control { height: 2rem }

/* tabs */
.tabs { margin: 0; padding: 0; display: flex }
.tab { border: 0; cursor: pointer; outline: 0; height: 2rem; font-size: 0.8rem; padding-left: 0.5rem; padding-right: 0.5rem }

/* annotations */
.turn-list { font-size: 0.8rem; margin: 0; padding: 0; list-style-type: none; overflow: scroll }
.turn-list-item { border-bottom: thin solid; border-top: thin solid; padding: 0.25rem; border-radius: 0.5rem; position: relative }
.turn-list .turn-list { display: block; padding: 0; list-style-type: none; overflow: visible; margin: 0.25rem 0.25rem 0.25rem 2.5rem; border-radius: 0.5rem }

.turn-list-button { margin: 0.25rem; border-width: thin; border-radius: 0.5rem }
.turn-list-button i { opacity: 0.5 }
.turn-list-button:hover i { opacity: 1 }
.annotate-menu { margin: 0; padding: 0 }
.annotate-button { margin: 0.25rem; border-width: thin; border-radius: 0.25rem }
.turn-components { font-size: 0.8rem; line-height: 1.6rem; margin: 0 0 0.5rem 0; display: flex; list-style-type: none; padding: 0 }
.turn-components-item {  display: inline-block; padding: 0.5rem 0.25rem 0 0.25rem; cursor: pointer }
.sequence-position-item { display: none; padding: 0.5rem 0.25rem 0.25rem 0.25rem }
.turn-options-item { margin: 0; padding: 0.25rem; border-radius: 0.5rem }
.turn-option-button { margin: 0; padding: 0.25rem; font-size: 1rem }
.turn-option-button i { opacity: 0.5 }
.turn-option-button:hover { background-color: none }
.turn-option-button:hover i { opacity: 1 }
.turn-location-button { font-size: 1rem; margin: 0; padding: 0; pointer-events: none }
.edit-annotation-button { margin: 0; padding: 0.25rem; border-color: transparent; border-radius: 0.25rem }
.show-positioning .turn-list .sequence-position-item { display: none !important }
.show-positioning .show-positioning .sequence-position-item { display: inline-block !important }
.show-positioning .sequence-position-item { display: inline-block !important }
.insertion-form-selector { display: block; margin-left: 2.5rem }
.selected-position,
.edit-position { border-radius: 0.25rem }
.branch-options { padding: 0.25rem }
.branch-options .turn-list-button { margin: 0 0.5rem 0 0 }
.piece-glyph-wrapper { display: inline-block; padding: 0.125rem; border-radius: 0.125rem }
.piece-glyph { font-size: 1.2rem }
.annotation-form-button { font-weight: bold; margin: 0; border: none; border-radius: 0.5rem; font-size: 0.7rem; line-height: 1.4rem }
.annotation-form-button i { opacity: 0.75 }
.annotation-form-button:hover i { opacity: 1 }
.insertion-form-selector,
.annotation-form { padding: 0.5rem; border-radius: 0.5rem; display: inline-block; width: auto; border: thin solid }
.annotation-form,
.insertion-form-selector { position: absolute; z-index: 999 }
.entry-fallback { display: flex }
.highlight-switch { font-size: 0.7rem; background-color: transparent !important; border-color: transparent !important; padding: 0 0.25rem; margin: 0 }
.select { margin-bottom: 0.5rem; display: grid; grid-template-areas: "select"; align-items: center; position: relative; border-radius: 0.25em; font-size: 0.9rem; cursor: pointer; line-height: 1.1rem }
.select::after { content: ""; justify-self: end; width: 0.6rem; margin-right: 0.5rem; height: 0.3rem; clip-path: polygon(100% 0%, 0 0%, 50% 100%) }
.select::after,
.select select { grid-area: select }
.select select { background-color: transparent; appearance: none; border: none; outline: 0; padding: 0.25rem; margin: 0; border-radius: 0.25rem; font-family: inherit; font-size: inherit; cursor: inherit; line-height: inherit }
.select select::-ms-expand { display: none }
.select select:hover,
.select select:focus { border-radius: 0.25rem } 
.select::after { content: ""; justify-self: end; width: 0.6rem; margin-right: 0.5rem; height: 0.3rem; clip-path: polygon(100% 0%, 0 0%, 50% 100%); grid-area: select }
.nag-select { min-width: 15rem; max-width: 30rem; width: 100% }
.coordinate-select { margin: 0 0.25rem 0 0; width: 2.5rem; font-size: 0.7rem; line-height: 0.9rem }
.coordinate-to-bridge { color: #000; padding: 0.25rem 0.5rem 0.25rem 0.25rem; width: auto; margin: 0 }
.text-input { width: 100%; max-width: 40rem }
.annotation-text { padding: 0.25rem; border-radius: 0.25rem; width: 100%; max-width: 40rem; height: 10rem; display: block; margin: 0 0 0.5rem 0 }
.mini-chessboard-container { position: relative; height: 24rem; width: 24rem; margin-bottom: 0.5rem }
.mini-chessboard .chessboard { width: 24rem; height: 24rem; position: absolute }
.mini-chessboard svg { position: absolute; z-index: 1; top: 0; left: 0 }
.annotate-chessboard { z-index: 2 }
.mini-chessboard { margin-right: 0.5rem }
.mini-chessboard td { cursor: pointer }
.annotation-container { display: flex }
.pending-list { min-width: 10rem; margin: 1rem 0 0 1rem; padding: 0; list-style-type: none }
.pending-list li { display: flex; margin-bottom: 0.5rem; line-height: 1.2rem }
.pending-list span { font-family: monospace; font-size: 0.7rem; margin-right: 1rem; line-height: 1.4rem }
.pending-list span i { display: inline-block; font-size: 0.7rem; border: thin solid; padding: 0 0.25rem; border-radius: 0.125rem; line-height: 1.4rem; font-style: normal }
.pending-list .button { margin-top: 0 }
.alternative-turn-title { font-weight: normal; margin: 0 0 0.5rem 0 }

/* tags */
.tags-container { padding: 0 }
.tags-table { border-collapse: collapse; margin: 0.5rem }
.tags-table td { padding: 0.125rem }
.tags-table .tag-name { width: 8rem }
.tags-table .tag-value { width: 10rem }
.tag-input { width: 100%; font-size: 0.8rem; line-height: 1rem; padding: 0.25rem }
.tags-table tr:last-of-type td { padding-top: 1rem }
.tag-button { margin-left: 0.5rem; background-color: transparent; border: none; padding: 0; font-size: 0.8rem; display: block; cursor: pointer }

/* PGN */ 
.pgn-container { margin: 0; padding: 0 }
.pgn-controls { margin: 0; padding: 0 }
.pgn { padding: 0.5rem; margin: 0; outline: 0; max-width: 50rem; white-space: pre-wrap; font-size: 0.8rem }
.file-control { margin: 0.25rem }
.paste-pgn-container { display: none; margin: 0.25rem }
.paste-pgn { outline: 0; border: 1px solid; padding: 0.5rem; width: 90%; height: 10rem; display: block; margin: 0 0 0.25rem 0 }
.paste-pgn-container .file-control { margin-top: 0; margin-left: 0 }

