:root {
  /* tabs */
  --tabs: gold;
  /*misc */
  --darkred: darkred;
  --darkgreen: darkgreen;
  --darkyellow: darkorange;
  --darkblue: darkblue;
  --red: red;
  --green: green;
  --blue: blue;
  --yellow: yellow;
  /* white or black */
  --bow: black;
  --bow125: rgba(0, 0, 0, 0.125);
  --bow25: rgba(0, 0, 0, 0.25);
  --bow50: rgba(0, 0, 0, 0.5);
  --bow75: rgba(0, 0, 0, 0.75);
  /* black or white */
  --wob: white;
  --wob125: rgba(255, 255, 255, 0.125);
  --wob25: rgba(255, 255, 255, 0.25);
  --wob50: rgba(255, 255, 255, 0.5);
  --wob75: rgba(255, 255, 255, 0.75);
  /* greys */
  --grey1: #DDD;
  --grey2: #CCC;
  --grey3: #BBB;
  --grey4: #AAA;
  --grey5: #999;
  --grey6: #888;
  --grey7: #777;
  --grey8: #666;
  --grey9: #555;
  --grey10: #444;
  --grey11: #333;
  --grey12: #222;
  /* timeline colors repeat at #16 */
  --timeline1: rebeccapurple;
  --timeline2: darkred;
  --timeline3: green;
  --timeline4: midnightblue;
  --timeline5: olive;
  --timeline6: purple;
  --timeline7: teal;
  --timeline8: steelblue;
  --timeline9: slategrey;
  --timeline10: sienna;
  --timeline11: maroon;
  --timeline12: dimgray;
  --timeline13: mediumslateblue;
  --timeline14: limegreen;
  --timeline15: goldenrod;
  --timeline16: rebeccapurple;
  --timeline17: darkred;
  --timeline18: green;
  --timeline19: midnightblue;
  --timeline20: olive;
  --timeline21: purple;
  --timeline22: teal;
  --timeline23: steelblue;
  --timeline24: slategrey;
  --timeline25: sienna;
  --timeline26: maroon;
  --timeline27: dimgray;
  --timeline28: mediumslateblue;
  --timeline29: limegreen;
  --timeline30: goldenrod;
}

@media (prefers-color-scheme: dark) {
  :root {
  /* tabs */
  --tabs: gold;
  /*misc */
  --darkred: darkred;
  --darkgreen: darkgreen;
  --darkyellow: darkorange;
  --darkblue: darkblue;
  --red: red;
  --green: green;
  --blue: blue;
  --yellow: yellow;
  /* white or black */
  --wob: black;
  --wob125: rgba(0, 0, 0, 0.125);
  --wob25: rgba(0, 0, 0, 0.25);
  --wob50: rgba(0, 0, 0, 0.5);
  --wob75: rgba(0, 0, 0, 0.75);
  /* black or white */
  --bow: white;
  --bow125: rgba(255, 255, 255, 0.125);
  --bow25: rgba(255, 255, 255, 0.25);
  --bow50: rgba(255, 255, 255, 0.5);
  --bow75: rgba(255, 255, 255, 0.75);
  /* greys */
  --grey1: #DDD;
  --grey2: #CCC;
  --grey3: #BBB;
  --grey4: #AAA;
  --grey5: #999;
  --grey6: #888;
  --grey7: #777;
  --grey8: #666;
  --grey9: #555;
  --grey10: #444;
  --grey11: #333;
  --grey12: #222;
  /* timeline colors repeat at #16 */
  --timeline1: rebeccapurple;
  --timeline2: darkred;
  --timeline3: green;
  --timeline4: midnightblue;
  --timeline5: olive;
  --timeline6: purple;
  --timeline7: teal;
  --timeline8: steelblue;
  --timeline9: slategrey;
  --timeline10: sienna;
  --timeline11: maroon;
  --timeline12: dimgray;
  --timeline13: mediumslateblue;
  --timeline14: limegreen;
  --timeline15: goldenrod;
  --timeline16: rebeccapurple;
  --timeline17: darkred;
  --timeline18: green;
  --timeline19: midnightblue;
  --timeline20: olive;
  --timeline21: purple;
  --timeline22: teal;
  --timeline23: steelblue;
  --timeline24: slategrey;
  --timeline25: sienna;
  --timeline26: maroon;
  --timeline27: dimgray;
  --timeline28: mediumslateblue;
  --timeline29: limegreen;
  --timeline30: goldenrod;
  }
}